<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>Servlet.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaListadoTodos</servlet-name>
        <servlet-class>Servlet.ValidaListadoTodos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaAlta</servlet-name>
        <servlet-class>Servlet.ValidaAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaBorrar</servlet-name>
        <servlet-class>Servlet.ValidaBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaEnvioModificar</servlet-name>
        <servlet-class>Servlet.ValidaEnvioModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaModificar</servlet-name>
        <servlet-class>Servlet.ValidaModificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/ValidaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaListadoTodos</servlet-name>
        <url-pattern>/ValidaListadoTodos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaAlta</servlet-name>
        <url-pattern>/ValidaAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaBorrar</servlet-name>
        <url-pattern>/ValidaBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaEnvioModificar</servlet-name>
        <url-pattern>/ValidaEnvioModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaModificar</servlet-name>
        <url-pattern>/ValidaModificar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
