<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>Servlets.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaPelicula</servlet-name>
        <servlet-class>Servlets.ValidaPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaModifica</servlet-name>
        <servlet-class>Servlets.ValidaModifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaElimina</servlet-name>
        <servlet-class>Servlets.ValidaElimina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaTodas</servlet-name>
        <servlet-class>Servlets.ValidaTodas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaTitulo</servlet-name>
        <servlet-class>Servlets.ValidaTitulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaDirector</servlet-name>
        <servlet-class>Servlets.ValidaDirector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/ValidaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaPelicula</servlet-name>
        <url-pattern>/ValidaPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaModifica</servlet-name>
        <url-pattern>/ValidaModifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaElimina</servlet-name>
        <url-pattern>/ValidaElimina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaTodas</servlet-name>
        <url-pattern>/ValidaTodas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaTitulo</servlet-name>
        <url-pattern>/ValidaTitulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaDirector</servlet-name>
        <url-pattern>/ValidaDirector</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
